@import './src/views/header/header';
@import './src/views/home/home';
@import './src/views/edit/edit';
@import './src/views/footer/footer';
@import '../../components/list/list';
@import '../../components/listItem/listItem';
@import '../../components/modal/modal';
@import '~bootstrap/scss/bootstrap';

.App {
    display: flex;
    &-Conteiner {
        .navbar {
            border: none;
            padding: 0px 22px;
            font-size: 17px;
            margin-bottom: 0;
            border-radius: 0;
            box-shadow: 0 8px 6px -6px black;
            &-nav {
                .linked {
                    color: white;
                    font-weight: 400;
                }
            }
        }
        .box {
            margin: 30px 115px 0 115px;
        }
    }
}
